.home{
    width: 100%;
    display: flex;
    justify-content: center;
}

.home .card-home{
    margin-top: 100px;
    width: 50%;
    height: 400px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    box-shadow: 0px 0px 66px -18px rgba(0,0,0,0.75);
}

.home .card-home .title{
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.home .card-home .input-field{
    width: 75%;
    height: 50px;
    display: flex;
}

.home .card-home .input-field input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    outline: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}

.home .card-home .btn{
    width: 100px;
    height: 50px;
    padding: 20px;
    background-color: rgb(84, 84, 235);
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.home .card-home .btn:hover{
    background-color: black;
}